@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

*welp { cursor: none; }


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

img {
  padding: 0;
  padding-right: 100px;
}

ul {
  list-style: none;
  padding: 0;
  padding-left: 100px;
}

li {
  padding: 10px 0 8px 0;  
  width: 190px;
  background: rgba(255,255,255, .9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: 'VT323', monospace;
  border-radius: 3px;
  border: 4px solid black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.snoselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}